:root {
    --grid-cols: 1;
    --grid-rows: 1;
}
.container {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
}

.box {
    padding: 1em;
    border: 1px solid #ddd;
}

.box:hover {
    background-color: aqua;
    transition: all 1s ease;
}
