:root {
    --grid-cols: 1;
    --grid-rows: 1;
}
.container {
    margin: auto;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
}

.box {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    /* Hover off */
    transition: background-color 5s ease;
}

button {
    border: 1px solid transparent;
    background-color: #5f27cd;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 10px;
    transition: all 0.2s ease-in;
}

button:hover {
    cursor: pointer;
    border: 1px solid #5f27cd;
    background-color: white;
    color: #5f27cd;
    transition: all 0.2s ease-out;
}
